<script>

let timerId;

export default {
  data () {
    return {
      input: '',
      output: [],
      parsing: false,
      preLoaderCounter: 0
    };
  },

  computed: {
    preLoader () {
      return 'Parsing is running'+'.'.repeat(this.preLoaderCounter);
    }
  },

  watch: {
    parsing (val) {
      if (val) {
        timerId = setInterval(this.updatePreLoaderCounter, 1000);
      } else {
        clearInterval(timerId);
      }
    }
  },

  methods: {
    parse () {
      this.parsing = true;

      axios.post('/api/parse', {
          input: this.input
        })
        .then(response => {
          this.parsing = false;

          if (response.status !== 200) {
            throw new Error('Invalid network connection');
          }

          this.output = response.data;
        })
        .catch(error => {
          this.parsing = false;
          this.output = [];

          alert(error.response.data.message);
        });
    },

    clear () {
      this.output = [];
      this.input = '';
    },

    updatePreLoaderCounter () {
      this.preLoaderCounter = this.preLoaderCounter < 3 ? this.preLoaderCounter + 1 : 0;
    }
  }
};

</script>

<template>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card card-default">
          <div class="card-header">StarTur Parser</div>

          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="input">Input</label>
                <textarea
                    id="input"
                    class="form-control"
                    v-model="input"
                ></textarea>
              </div>
              <div class="text-center">
                <button
                    type="button"
                    class="btn btn-primary"
                    :disabled="parsing"
                    @click="parse"
                >Parse</button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    :disabled="parsing"
                    @click="clear"
                >Clear</button>
              </div>
            </form>
          </div>

          <div class="card-body">
            <p v-if="parsing">{{ preLoader }}</p>
            <p v-else-if="output.length < 1">Output is empty.</p>
            <div v-else>
              <div
                  v-for="(block, index) in output"
                  :key="index"
                  class="form-group"
              >
                <label :for="'block'+index">Block {{ index }}:</label>
                <textarea
                    :id="'block'+index"
                    class="form-control"
                >{{ block }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
